body {
    font-family: "Poppins", sans-serif;
}

a.navegator {
    color: white;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
}

ul.nav {
    border-bottom: 1px solid rgba(87, 80, 80, 0.3);
}

a.navegator:hover {
    color: rgb(242, 242, 152);
    scale: 110%;
    transition: 1s;
}

h1.BemVindo {
    position: absolute;
    width: 600px;
    height: 153px;

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 75px;
    top: 20%;
    color: #FFFFFF;
    left: 31%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    width: 40px;
    position: absolute;
    padding-top: 5px;
    object-fit: contain;
    padding-left: 10px;
}

.logo:hover {
    scale: 130%;
    transition: 1s;
}

img.fundo {
    object-fit: fill;
    width: 100%;
    height: 15vw;
}



.footer {
    position: absolute;
    width: 100%;
    height: 8vw;
    bottom: -1%;
    right: 0%;
    background: #AA9B92;

}

#footertext {
    color: #FFFFFF;
    font-size: 1vw;
    padding-top: 20px;
}

#footertext2 {
    color: #FFFFFF;
    font-size: 1vw;

}


.father {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

}

.card {
    flex: 1 1 150px;
    margin: 5px;
    align-items: center;
    width: 500px;
}

.card_dentro {
    background-color: #AA9B92;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
}

.preco {
    color: white;
    font-weight: bold;
}



.formtittle {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#blue {
    border: none;
    background-color: #AA9B92;
    align-items: center;
}


form {
    text-align: center;
}

input {
    width: 300px;
    border: 1px solid #b07810;
    border-radius: 10px;
}

.btn_submit {
    background-color: #FFAF17;
    font-family: "Poppins" sans-serif;
    width: 100px;
    border-radius: 7px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #b07810;
}

.btn_submit:hover {
    scale: 110%;
    transition: 1s;
}


#carrinho {
    background-color: #FFAF17;
    font-family: "Poppins" sans-serif;
    width: 300px;
    border-radius: 7px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;

    border: #b07810;

}

#carrinho:hover {
    scale: 110%;
    transition: 1s;
}




@media (max-width:760px) {

    #carrinho {

        font-family: "Poppins" sans-serif;
        width: 150px;
        border-radius: 7px;
        margin-bottom: 10px;
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    #nomePessoa {
        width: 150px;
    }

    #endPessoa {
        width: 150px;
    }

    .footer {
        height: 100px;

    }

    #footertext {
        font-size: 10px;
    }

    #footertext2 {
        font-size: 10px;
    }

    h1.BemVindo {
        position: absolute;
        font-size: 1px;
    }

    a.navegator {
        font-size: 11px;
    }
}